@import "bootstrap.min.css";
@import "bootstrap.css";

/*body{
	padding-top:70px;
}*/

.navbar{
	padding-top:20px;
}

nav{
	margin-top:0;
}

#home-link,#brandLangua,#deconnexion{
	color:grey;
	padding-top:15px;
	padding-left:15px;
	padding-right:15px;
}

#home-link:hover,#brandLangua:hover,#deconnexion:hover{
	cursor:pointer;
	color:black;
}