@import "style_navbar.css";

body{
	background-color: #5cb85c !important;
}

#pageIndex{
	min-height: 100vh;
}

#logo{
	padding-top:70px;
	margin-top:20px;
	margin-bottom:30px;
	width:50%;
}

#formLogin{
	margin-left:10px;
	margin-right:10px;
}