@import "style_navbar.css";

#pageIndex{
	min-height: 100vh;
}

#tiles_container{
	padding-top:70px;
}

#tile1,#tile2,#tile3,#tile4{
	padding-top: 10px;
	padding-bottom: 30px;
	margin-bottom: 0px !important;
}